<div class="matterShow">
  <div class="container">
    <section class="section-title-group">
      <h2 class="mt-4 pb-4 c-heading heading--lv1">
      案件詳細ページ
      </h2>
    </section>
    <section class="matterDetails">
        <div class="mt-4 row">
          <h4 class="col-sm-3"><strong>案件名：<%= @matter.title %></strong></h4>
        </div>
        <div class="item">
          <table class="table table-bordered mt-4">
            <thead>
              <tr bgcolor="silver">
                <td>項目</td>
                <td>内容</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>掲載期間</td>
                <% if @period.to_i %>
                <td>残り<%= @period %>日</td>
                <% else%>
                <td>残り<%= @period %>日</td>
                <% end %>
              </tr>
              <tr>
                <td>募集人数</td>
                <td><%= @matter.number_of_positions %>人</td>
              </tr>
              <tr>
                <td>契約期間</td>
                <td><%= @matter.contract_period %></td>
              </tr>
            </tbody>
          </table>
        </div> 
        <h4 class="col-sm-3"><strong>案件の詳細</strong></h4>
        <table class="table table-bordered mt-4">
          <thead>
            <tr bgcolor="silver">
              <td>項目</td>
              <td>内容</td>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>業種カテゴリ</td>
                <td>
                  <ul class="industry" style="display: flex; justify-content: center;">
                    <li class="industry__item"><%= @parent.name %></li><span>　</span>
                    <li class="industry__item"><%= @child.name %></li>
                  </ul>
                </td>
            </tr>
            <tr>
                <td>報酬</td>
                <td><%= @matter.reward %></td>
            </tr>
            <tr>
                <td>必須経験</td>
                <td><%= @grandchild.name %></td>
            </tr>
          </tbody>
        </table>

        <section class="matterContent">
          <h4 class="matterContent__title">案件説明</h4>
          <div div class="col content arrowBoxTop">
            <%= safe_join(@matter.matter_content.split("\n"),tag(:br)) %>
          </div>
        </section>
      <% if @current_contractor && @matter.contractor_id == nil %>
        <div><%= link_to "案件を受注する", recieved_matter_path(@matter.id), method: :put ,class: "btn fa fa-edit" %></div>
      <% end %>
      <% if @matter.contractor_id %>
        <div><%= link_to "案件を辞退する", decline_matter_path(@matter.id), method: :put ,class: "btn fa fa-edit" %></div>
      <% end %>

    </section>
  </div>
</div>