<%# 発注者情報 %>
<div class="detail__client col">
  <h3 class="subtitle">クライアント情報</h3>
  <% if @client == nil %>
    <div class="Edit__client"><%= link_to "発注者プロフィールを登録する", new_client_path, class: "btn fa fa-edit" %></div>
  <% elsif %>
    <ul class="clietName item">
      <li class="itemTitle">クライアント名</li>
      <% if @client.name? %>
      <li class="userInfo"><%= @client.name %></li>
      <% else %>
      <li class="userInfo">未設定</li>
      <% end %>
    </ul>
    <ul class="hpUrl item">
      <li class="itemTitle">HPリンク</li>
      <% if @client.hp_url? %>
      <li class="userInfo"><%= link_to '外部リンク', @client.hp_url %></li>
      <% else %>
      <li class="userInfo">未設定</li>
      <% end %>
    </ul>
    <ul class="cliantAddress item">
      <li class="itemTitle">所在地</li>
      <% if @client.prefecture_id %>
      <li class="userInfo"><%= @client.prefecture.name %></li>
      <% else %>
      <li class="userInfo">未設定</li>
      <% end %>
    </ul>
    <ul class="phoneNumber item">
      <li class="itemTitle">電話番号</li>
      <% if @client.phone_number? %>
      <li class="userInfo"><%= @client.phone_number %></li>
      <% else %>
      <li class="userInfo">未設定</li>
      <% end %>
    </ul>
    <div class="Edit__client"><%= link_to "発注者プロフィールを編集する", edit_client_path(@client.id), class: "btn fa fa-edit" %></div>
    <div class="Edit__client"><%= link_to "案件を発注する", new_matter_path, class: "btn fa fa-edit" %></div>
    <div class="Edit__client"><%= link_to "発注した案件一覧", ordered_index_matters_path, class: "btn fa fa-edit" %></div>
  <% end %>
</div>