<nav>
  <ul class="navs">
    <li class="navs__list"><%= link_to 'トップ', "/" %></li>
    <% if user_signed_in? %>
      <li class="navs__list"><%= link_to 'マイページ', "#" %></li>
      <li class="navs__list"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    <% elsif %>
      <li class="navs__list"><%= link_to '新規登録', new_user_registration_path %></li>
      <li class="navs__list"><%= link_to 'ログイン', new_user_session_path %></li>
    <% end %>
    <li class="navs__list"><%= link_to '仕事の依頼/受託', "#" %></li>
    <li class="navs__list"><%= link_to '問い合わせ', "#" %></li>
    <li class="navs__list"><%= link_to 'その他', "#" %></li>
  </ul>
</nav>